.leaflet-container {
  width: 100% ;
  height: 60vh;
  
}

.div-arCity {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.div-arCity:hover {
background-color: gray;
}


header{
  /* כדי שנוכל לתת זיד אינדקס חובה לתת גם מאפיין
  פוזישן כלשהו, ואם אנחנו לא רוצים בטעות להשפיע על
  האלמנט עם אבסלוט או פיקסד , אז נשים רילטיב */
  position: relative;
  z-index: 99;
}

header ul{
  display: flex;
  margin:0;
  padding:0;
  list-style: none;
}

header ul a{
  color:black;
  padding:0 12px;
  text-decoration: none;
}